### Read data from income.csv and scale the relevant features using standardization

In [7]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [8]:
df = pd.read_csv(r"C:\Users\farha\Downloads\scaled_income.csv")

In [9]:
df

        Name  Age  Income  Buy
0        Rob   27   70000  Yes
1    Michael   29   90000   No
2      Mohan   29   61000  Yes
3     Ismail   28   60000  Yes
4       Kory   42  150000   No
5     Gautam   39  155000  Yes
6      David   41  160000  Yes
7     Andrea   38  162000   No
8       Brad   36  156000  Yes
9   Angelina   35  130000   No
10    Donald   37  137000   No
11       Tom   26   45000   No
12    Arnold   27   48000  Yes
13     Jared   28   51000   No
14     Stark   29   49500   No
15    Ranbir   32   53000   No
16    Dipika   40   65000  Yes
17  Priyanka   41   63000   No
18      Nick   43   64000  Yes
19      Alia   39   80000   No
20       Sid   41   82000  Yes
21     Abdul   39   58000   No

In [10]:
# Create a StandardScaler object
scaler = StandardScaler()

In [11]:
# Fit the StandardScaler object to the relevant features
scaler.fit(df[["Age", "Income"]])

StandardScaler()

In [12]:
# Transform the relevant features using the StandardScaler object
scaled_features = scaler.transform(df[["Age", "Income"]])

In [13]:
# Add the scaled features to the DataFrame
df[["Age", "Income"]] = scaled_features

In [14]:
# Save the scaled DataFrame to a new file
df.to_csv("income_scaled.csv")

In [15]:
df

        Name       Age    Income  Buy
0        Rob -1.356055 -0.480684  Yes
1    Michael -1.009157 -0.010159   No
2      Mohan -1.009157 -0.692421  Yes
3     Ismail -1.182606 -0.715947  Yes
4       Kory  1.245679  1.401417   No
5     Gautam  0.725332  1.519048  Yes
6      David  1.072230  1.636679  Yes
7     Andrea  0.551883  1.683732   No
8       Brad  0.204985  1.542574  Yes
9   Angelina  0.031536  0.930891   No
10    Donald  0.378434  1.095575   No
11       Tom -1.529504 -1.068841   No
12    Arnold -1.356055 -0.998262  Yes
13     Jared -1.182606 -0.927683   No
14     Stark -1.009157 -0.962973   No
15    Ranbir -0.488811 -0.880631   No
16    Dipika  0.898781 -0.598316  Yes
17  Priyanka  1.072230 -0.645368   No
18      Nick  1.419128 -0.621842  Yes
19      Alia  0.725332 -0.245422   No
20       Sid  1.072230 -0.198369  Yes
21     Abdul  0.725332 -0.762999   No